.App {
  text-align: center;
}

table {
  min-width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0px;
}

.cell {
  /* min-height: 3.9em; */
  padding: 1.75em 1em;
  min-width: 5.5em;
}

td {
  vertical-align: bottom;
}

form {
  border: 1px solid black;
  margin: 2em 0;
}

.top-form {
  margin: 0;
}

.current-color {
  height: 3em;
}

.flower-white {
  background-color: #efefef;
}

.flower-yellow {
  background-color: #ffd966;
}

.flower-pink {
  background-color: #f4cccc;
}

.flower-orange {
  background-color: #f6b26b;
}

.flower-red {
  background-color: #e06666;
}

.flower-black {
  background-color: #999999;
}